<hr>
<div class="row">
  <div class="col-xs-3" style="text-align: center; padding: 30px 0px; background-color: #dbdbdb;">
    <p style="font-size: 40px; font-weight: 600;">{{ post.votes }}</p>
    <p>POINTS</p>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{ post.title }}</h3>
        <p>({{ post.link }})</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2" style="padding-top: 20px;">
        <p style="font-size: 14px;"><a (click)="voteUp()"><span class="glyphicon glyphicon-arrow-up"></span> Upvote</a></p>
      </div>
      <div class="col-xs-2" style="padding-top: 20px;">
        <p style="font-size: 14px;"><a (click)="voteDown()"><span class="glyphicon glyphicon-arrow-down"></span> Downvote</a></p>
      </div>
    </div>
  </div>
</div>
