<hr>
<div class="row" style="border: solid 1px slateblue;">
  <div class="col-xs-4" style="text-align: center; padding: 30px 0px;">
    <p style="font-size: 40px; font-weight: 600;">3</p>
    <p>POINTS</p>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{ postTitle }}</h3>
        <p>{{ postLink }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2" style="padding-top: 20px;">
        <p style="font-size: 12px;">Upvote</p>
      </div>
      <div class="col-xs-2" style="padding-top: 20px;">
        <p style="font-size: 12px;">Downvote</p>
      </div>
    </div>
  </div>
</div>
